
#mainContent {
	font-family:  Arial;
	font-size: 1;
	font-size-adjust: .5;
	font-weight: bold;
	background-color: #FFEEEE;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}


#mainContent >h1  {
	font-size: 10;
	font-size-adjust: 1;
}


#introText {
    margin-left: auto;
    margin-right: auto;
	width:560px;
		
}

.buttonStyle {
	border-radius: 4px;
	border: thin solid #F0E020;
	padding: 5px;
	background-color: #F8F094;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #663300;
	width: 75px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #996633;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #669900;
	cursor: pointer;
}

ul#links {
	list-style-type:none;
}