---
title: "CollabCamp"
layout: "default"
---

.jumbotron.text-center
  h1= site.title
  p= getPreparedDescription()
  if site.video_url
    iframe(width=560 height=315 src=site.video_url frameborder=0 allowfullscreen)
