ul
  li
    a(href="https://www.facebook.com/collabcamp")
      i.fa.fa-facebook
      | Facebook
  li
    a(href="https://www.twitter.com/collabcamps")
      i.fa.fa-twitter
      | Twitter
  li
    a(href="https://plus.google.com/+collabcamp")
      i.fa.fa-googleplus
      | Google+
  li
    a(href="https://www.youtube.com/c/collabcamp")
      i.icon-youtube
      | YouTube
  li
    a(href="https://github.com/collabcamp")
      i.icon-igithub
      | Github

  li
    a(href="https://vine.co/tags/collabcamp")
      i.icon-vine
      | Vine
